@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  max-width: 90%;
  margin: auto;
}

.movie-card img {
  object-fit: unset;
}

.menu {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.menu .left-menu {
  display: flex;
  gap: 80px;
  align-items: center;
}

.menu h2.logo {
  color: #d06464;
  padding: 10px 10px;
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  border-radius: 20px;
}

.menu h2.logo span {
  color: #1e393a;
}

.menu ul.menu-list {
  display: flex;
  gap: 20px;
}


.menu ul.menu-list l1 {
  color: #d06464;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
}


.menu ul.menu-list l1:hover {
  background: #f0f0f0f0;
}



.menu button.login {
  Border: 1px solid #d06464;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #d06464;
  font-weight: 700;
  max-height: 40px;
}

.menu button.login:hover {
  background: #d06464;
  color: #fff;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.movie-card {
  width: 300px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #1e393a;
  color: #fff;
  height: 500px;
  margin: 10px;
}

.poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-details {
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.genre, .length {
  color: #fff;
  margin-bottom: 8px;
}

.likes {
  display: flex;
  align-items: center;
}

.like-icon {
  width: 20px;
  height: 20px;
  fill: #af4c4c;
  margin-right: 4px;
  stroke: unset;
}

.likes-percentage {
  margin: 0;
  color: #af4c4c;
  font-weight: bold;
}

.moviefilters {
  max-width: 90%;
  margin: auto;
}

.searcInput {
  display: inline-block;
}

.searcInput input[type="search"] {
  border: 1px solid #1e393a;
  padding: 10px;
  border-radius: 10px;
}

.filters {
  max-width: 90%;
  margin: auto;
  justify-content: space-between;
}

.single-seat {
  width: 20%;
  height: 40px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UpcomingMovie_upcomingMovie__qJgwx {
  height: 100%;
  width: 291px;
  display: block;
  margin: 0 auto;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  position: relative;
}

.UpcomingMovie_detail__yxjWv {
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 0 0 8px 8px;
}

.UpcomingMovie_relDateDweb__M3OjY {
  color: #fff;
  position: absolute;
  bottom: 80px;
  padding: 10px;
}

.UpcomingMovie_upcomingMovie__qJgwx .UpcomingMovie_detail__yxjWv .UpcomingMovie_row1__wEyNT {
  font-size: 16px;
  color: #101010;
  font-weight: 600;
  letter-spacing: -.08px;
  line-height: 24px;
}

.UpcomingMovie_upcomingMovie__qJgwx .UpcomingMovie_detail__yxjWv .UpcomingMovie_row2__5S7GK span {
  display: block;
  font-size: 14px;
  color: #101010;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.UpcomingMovie_upcomingMovie__qJgwx .UpcomingMovie_imgCon__NhA2K .UpcomingMovie_relDateDweb__M3OjY .UpcomingMovie_relDateLabel___Kejm {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
}

.UpcomingMovie_upcomingMovie__qJgwx .UpcomingMovie_imgCon__NhA2K .UpcomingMovie_relDateDweb__M3OjY .UpcomingMovie_relDate__DzlI0 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -.08px;
  margin-top: 4px;
  display: block;
}





/* test */